<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Artist.Name}}</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<header>
    <h1>{{.Artist.Name}}</h1>
</header>

<main>

<div class="card">

    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}">

    <h2>{{.Artist.Name}}</h2>

    <p><strong>Created:</strong> {{.Artist.CreationDate}}</p>

    <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>

    <h3>Members</h3>

    <ul>
        {{range .Artist.Members}}
            <li>{{.}}</li>
        {{end}}
    </ul>
    
<h3>Concert Schedule</h3>

{{range $location, $dates := .Relation}}

<h4>{{$location}}</h4>

<ul>
    {{range $dates}}
        <li>{{.}}</li>
    {{end}}
</ul>

{{end}}

    <br>

    <a href="/">← Back to Home</a>

</div>

</main>

</body>
</html>